.container {
    flex: 1;
    position: relative;
    /* min-height: 100vh; */
    background: #557085;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}

.active {
    background: #3e3f39;
}

.active div.active {
    background: red;
}